body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden,
label.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrap {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  -o-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.page-wrap {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}

.site-wrap::before,
.site-wrap::after {
  content: "";
  visibility: hidden;
}

.site-wrap::before {
  background-image: url("../img/slide2.png");
}

.site-wrap::after {
  background-image: url("../img/slide3.png");
}

.site-inner-wrap {
  min-width: 1200px;
  background-color: #849d8f;
}

.main-header {
  position: relative;
  padding: 9px 27px 0;
  margin: 0;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header-logo {
  margin-right: 12px;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 980px;
  min-height: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.site-navigation, .user-navigation {
  padding: 0;
  padding-top: 11px;
  margin: 0;
  list-style: none;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.site-navigation li {
  margin-right: 4px;
  line-height: 18px;
  font-weight: 700;
}

.site-navigation .site-nav-item {
  margin: 8px 12px 7px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation .site-nav-item:hover,
.site-navigation .site-nav-item:focus {
  padding: 8px 12px 7px;
  margin: 0;
  color: #333333;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
}

.site-navigation .site-nav-item:active {
  color: #333333;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0px 2px 1px 0px #696969;
          box-shadow: inset 0px 2px 1px 0px #696969;
}

.site-navigation .site-navigation-item-current {
  padding: 8px 12px 7px;
  margin: 0;
  color: #ffffff;
  background-color: #d07058;
  border-radius: 20px;
}

.site-navigation .site-navigation-item-current:hover,
.site-navigation .site-navigation-item-current:focus {
  color: #ffffff;
  background-color: #d07058;
}

.main-catalog {
  position: relative;
  min-height: 30px;
}

.catalog-list {
  display: none;
  position: absolute;
  top: 30px;
  left: -8px;
  padding: 0;
  margin: 0;
  width: 142px;
  background-color: #ffffff;
  list-style: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-list li {
  width: 142px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.catalog-list li:first-child {
  padding-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.catalog-list li:last-child {
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.catalog-list li:hover,
.catalog-list li:focus {
  background-color: #fbded7;
}

.catalog-list li:active {
  background-color: #f6b5a5;
}

.catalog-list .catalog-list-current {
  background-color: #d07058;
}

.catalog-list .catalog-list-current:hover,
.catalog-list .catalog-list-current:focus {
  background-color: #d07058;
}

.catalog-list a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  border-radius: 0px;
  color: #323232;
}

.catalog-list-current a {
  color: #ffffff;
}

.catalog-list .catalog-list-title {
  font-weight: 700;
}

.catalog-list::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 6px;
  width: 128px;
  height: 1px;
  background-color: #c2cec7;
}

.main-catalog:hover .catalog-list,
.main-catalog:focus .catalog-list {
  display: block;
  z-index: 10;
}

.user-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-navigation li {
  margin-left: 10px;
  margin-top: 2px;
  min-height: 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-navigation li:first-child {
  margin-top: 0;
}

.user-navigation .user-nav-link {
  position: relative;
  padding: 7px 17px 8px 44px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.user-navigation .basket-link-active {
  color: #323232;
  background-color: #f7f6f3;
}

.user-navigation .search-link {
  padding: 11px 8px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.user-navigation .user-nav-link:hover,
.user-navigation .user-nav-link:focus {
  color: #323232;
  background-color: #ffffff;
}

.search-link:hover path,
.search-link:focus path {
  fill: #000;
}

.login-link::before,
.basket-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/entrance-white.svg");
}

.basket-link::before {
  background-image: url("../img/basket.svg");
}

.basket-link-active::before {
  background-image: url("../img/basket-red.svg");
}

.login-link:hover::before,
.login-link:focus::before {
  background-image: url("../img/entrance.svg");
}

.basket-link:hover::before,
.basket-link:focus::before {
  background-image: url("../img/basket-black.svg");
}

.basket-link-active:hover::before,
.basket-link-active:focus::before {
  background-image: url("../img/basket-red.svg");
}

.user-nav-search,
.user-nav-login,
.user-nav-basket {
  position: relative;
}

.popup-form {
  display: none;
}

.search-form,
.popup-login-form,
.basket-popup {
  display: none;
  position: absolute;
  top: 30px;
  right: 0px;
  width: 341px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 10;
}

.popup-login-form {
  width: 277px;
  padding: 20px 17px 20px 19px;
}

.basket-popup {
  width: 539px;
  padding: 18px 13px 20px;
}

.login-form {
  position: relative;
}

.login-links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 120px;
}

.login-links a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(50, 50, 50, 0.3);
          text-decoration-color: rgba(50, 50, 50, 0.3);
}

.login-links a:hover,
.login-links a:focus,
.login-links a:active {
  color: #e84d37;
  -webkit-text-decoration-color: rgba(232, 77, 55, 0.3);
          text-decoration-color: rgba(232, 77, 55, 0.3);
}

.search-form input[type="text"],
.popup-login-form input[type="text"],
.popup-login-form input[type="password"] {
  width: 309px;
  min-height: 45px;
  padding: 10px 14px 8px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid rgba(153, 153, 153, 0.52);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popup-login-form input[type="text"],
.popup-login-form input[type="password"] {
  width: 241px;
  margin-bottom: 20px;
}

.search-form input[type="text"]::-webkit-input-placeholder,
.popup-login-form input[type="text"]::-webkit-input-placeholder,
.popup-login-form input[type="password"]::-webkit-input-placeholder {
  font-weight: 400;
  color: #b2b2b2;
}

.search-form input[type="text"]:-ms-input-placeholder,
.popup-login-form input[type="text"]:-ms-input-placeholder,
.popup-login-form input[type="password"]:-ms-input-placeholder {
  font-weight: 400;
  color: #b2b2b2;
}

.search-form input[type="text"]::-ms-input-placeholder,
.popup-login-form input[type="text"]::-ms-input-placeholder,
.popup-login-form input[type="password"]::-ms-input-placeholder {
  font-weight: 400;
  color: #b2b2b2;
}

.search-form input[type="text"]::placeholder,
.popup-login-form input[type="text"]::placeholder,
.popup-login-form input[type="password"]::placeholder {
  font-weight: 400;
  color: #b2b2b2;
}

.search-form input[type="text"]:hover,
.popup-login-form input[type="text"]:hover,
.popup-login-form input[type="password"]:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
  padding: 9px 13px 7px;
}

.search-form input[type="text"]:focus,
.popup-login-form input[type="text"]:focus,
.popup-login-form input[type="password"]:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding: 9px 13px 7px;
  outline: none;
}

.user-nav-search:hover .search-form,
.user-nav-search:focus .search-form,
.user-nav-login:hover .popup-login-form,
.user-nav-login:focus .popup-login-form,
.user-nav-basket:hover .basket-popup,
.user-nav-basket:focus .basket-popup {
  display: block;
}

.basket-goods {
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  border-bottom: 1px solid #cacac7;
}

.basket-goods-item td {
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 13px;
  text-align: left;
}

.basket-goods-item .basket-item-picture {
  width: 40px;
  text-align: left;
  padding-top: 0px;
}

.basket-goods-item .basket-item-title {
  width: 225px;
  padding-bottom: 17px;
}

.basket-item-title a {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
  padding-top: 5px;
}

.basket-item-value {
  color: #a6a6a5;
}

.basket-goods-item .basket-item-quantity {
  width: 111px;
  text-align: right;
  padding-right: 9px;
}

.basket-goods-item .basket-item-price {
  text-align: center;
}

.basket-delete-button {
  width: 15px;
  height: 17px;
  border: none;
  background-color: #f8f7f4;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-position: 4px 3px;
}

.basket-total-price {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  text-align: right;
}

.main-header-contacts {
  position: absolute;
  top: 74px;
  left: 1006px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.main-header-contacts p {
  margin: 0;
}

.main-header-contacts .contacts-phone-number {
  margin-top: 4px;
  font-size: 22px;
  line-height: 24px;
}

.main-slider {
  position: relative;
  padding: 0 27px;
  padding-top: 312px;
  margin: 0 auto;
  text-align: center;
}

.main-slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slide {
  display: none;
}

.main-slider-item {
  padding-top: 1px;
}

.slide-title {
  width: 680px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slide-title-3 {
  width: 650px;
}

.main-slider-controls {
  position: absolute;
  bottom: 63px;
  left: 27px;
  z-index: 20;
  font-size: 0;
}

.main-slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide-toggle-1:checked ~ .site-wrap {
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
}

.slide-toggle-2:checked ~ .site-wrap {
  background-color: #8996a6;
  background-image: url("../img/slide2.png");
}

.slide-toggle-3:checked ~ .site-wrap {
  background-color: #9d8b84;
  background-image: url("../img/slide3.png");
}

.slide-toggle-1:checked ~ .site-wrap .main-slider-item:nth-child(1) {
  display: block;
}

.slide-toggle-2:checked ~ .site-wrap .main-slider-item:nth-child(2) {
  display: block;
}

.slide-toggle-3:checked ~ .site-wrap .main-slider-item:nth-child(3) {
  display: block;
}

.slide-toggle-1:checked ~ .site-wrap label[for="product-1"],
.slide-toggle-2:checked ~ .site-wrap label[for="product-2"],
.slide-toggle-3:checked ~ .site-wrap label[for="product-3"],
.slide-toggle-1:checked:hover ~ .site-wrap label[for="product-1"],
.slide-toggle-2:checked:hover ~ .site-wrap label[for="product-2"],
.slide-toggle-3:checked:hover ~ .site-wrap label[for="product-3"] {
  background-color: #ffffff;
}

.slide-toggle-1:hover ~ .site-wrap label[for="product-1"],
.slide-toggle-2:hover ~ .site-wrap label[for="product-2"],
.slide-toggle-3:hover ~ .site-wrap label[for="product-3"] {
  background-color: rgba(255, 255, 255, 0.4);
}

.button {
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  padding: 12px 15px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background-image: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background-image: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 1);
          box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.login-button {
  padding: 11px 25px;
  border-radius: 20px;
}

.basket-button {
  margin-left: 341px;
  padding: 10px 15px;
  border-radius: 20px;
}

.slide-button {
  padding: 11px 41px;
  padding-top: 9px;
  margin-bottom: 41px;
  font-size: 32px;
  line-height: 44px;
}

.promo-button {
  padding: 11px 23px;
  margin-top: 26px;
  margin-left: 374px;
}

.promo-item-second .promo-button {
  padding: 10px 22px 11px;
  padding-right: 21px;
  margin-left: 350px;
}

.main-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 27px;
  margin: 0;
}

.promo-item {
  width: 560px;
  min-height: 229px;
  border-radius: 15px;
  background-repeat: no-repeat;
}

.promo-item-first {
  background-color: #6b021e;
  background-image: url("../img/raspberries.jpg");
  background-repeat: no-repeat;
}

.promo-item-second {
  background-color: #45230d;
  background-image: url("../img/chocolate.jpg");
}

.promo-item h3 {
  margin: 0;
  margin-top: 16px;
  margin-left: 19px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}
.promo-item p {
  width: 515px;
  margin-top: 15px;
  margin-left: 19px;
  font-size: 18px;
  font-weight: 700;
}

.popular-products,
.creamy-products {
  padding: 0 27px;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  padding-top: 26px;
  margin: 0;
  list-style: none;
}

.popular-products-list {
  padding-top: 34px;
}

.products-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 267px;
  min-height: 363px;
}

.popular-products-item {
  padding-top: 6px;
}

.hover-button-container {
  position: absolute;
  top: -6px;
  left: -13px;
  height: 405px;
  width: 293px;
  background-color: rgba(230, 235, 233, 0.2);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 10;
  opacity: 0;
}

.hover-button {
  position: absolute;
  left: 45px;
  top: 343px;
  padding: 11px 18px;
  padding-top: 10px;
  z-index: 10;
}

.products-item:hover .hover-button-container,
.products-item:hover + .hover-button-container {
  opacity: 1;
}

.products-item h3 {
  position: relative;
  padding: 0;
  padding-top: 8px;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  z-index: 11;
}

.product-title-special {
  width: 258px;
}

.popular-products-item::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0px;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 2;
}

.product-price {
  position: absolute;
  left: 0;
  bottom: 104px;
  padding: 0;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 600;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  z-index: 2;
}

.product-price .unit-field {
  font-size: 30px;
  margin-left: 35px;
}

.product-price .unit-field::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 75px;
  width: 40px;
  height: 45px;
  background-image: url("../img/ruble-with-shadow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-picture {
  position: relative;
  z-index: 1;
}

.product-title {
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
          text-decoration-color: rgba(255, 255, 255, 0.3);
}

.product-title:hover,
.product-title:focus,
.product-title:active {
  color: #ffbc9e;
  -webkit-text-decoration-color: rgba(255, 188, 158, 0.3);
          text-decoration-color: rgba(255, 188, 158, 0.3);
}

.main-advantages {
  width: 1146px;
  color: #323232;
  margin: 0 27px;
  padding: 25px 20px 22px;
  background-color: #e2d0a6;
  background-image: url("../img/wafer.jpg");
  background-position: 14px -2px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-advantages b {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 538px;
  margin-right: 26px;
}

.advantages-item-container:last-child {
  margin-right: 0px;
}

.advantages-item {
  position: relative;
  padding-left: 56px;
  padding-top: 5px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 2px;
}

.advantages-item::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -8px;
  width: 50px;
  height: 50px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.advantages-item-leaf::before {
  background-image: url("../img/eco.svg");
}

.advantages-item-cow::before {
  left: -3px;
  background-image: url("../img/cow.svg");
}

.advantages-item-thermo::before {
  left: -3px;
  background-image: url("../img/thermometer.svg");
}

.additional-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 40px 27px 39px;
}

.news-info {
  min-width: 560px;
  height: 220px;
  margin-right: 26px;
  background-image: url("../img/strawberry_back.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
  background-color: #ffffff;
}

.news-info-container {
  width: 330px;
  padding: 23px 0px 0px 20px;
}

.news-info h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.news-info a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.news-info a:hover,
.news-info a:focus,
.news-info a:active {
  color: #e84d37;
  -webkit-text-decoration-color: rgba(232, 77, 55, 0.3);
          text-decoration-color: rgba(232, 77, 55, 0.3);
}

.subscribe-info {
  width: 560px;
  padding: 6px;
  color: #5a5a5a;
  background-color: #92cdff;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.subscribe-form-wrap {
  padding: 29px 10px 34px 20px;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe-form-wrap h3 {
  padding: 0;
  margin: 0;
}

.subscribe-form-wrap p {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.subscribe-form input[type="text"] {
  width: 368px;
  min-height: 45px;
  padding: 10px 13px;
  padding-bottom: 9px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  background-color: #ffffff;
  border: none;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe-form input[type="text"]::-webkit-input-placeholder {
  font-weight: 400;
  color: #b2b2b2;
}

.subscribe-form input[type="text"]:-ms-input-placeholder {
  font-weight: 400;
  color: #b2b2b2;
}

.subscribe-form input[type="text"]::-ms-input-placeholder {
  font-weight: 400;
  color: #b2b2b2;
}

.subscribe-form input[type="text"]::placeholder {
  font-weight: 400;
  color: #b2b2b2;
}

.subscribe-form input[type="text"]:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
  padding: 9px 12px;
  padding-bottom: 8px;
}

.subscribe-form input[type="text"]:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding: 9px 12px;
  padding-bottom: 8px;
  outline: none;
}

.subscribe-button {
  padding: 9px 18px 10px;
  margin-left: 8px;
}

.main-map {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: auto 430px;
}

.main-map iframe {
  width: 100%;
  height: 430px;
}

.main-contacts {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.contacts-info {
  position: absolute;
  top: -379px;
  right: 27px;
  width: 252px;
  padding: 29px 25px 30px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 15px;
}

.contacts-info p {
  margin: 0;
}

.contacts-info .main-contacts-info {
  margin-bottom: 19px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-info .main-phone-number {
  margin-bottom: 2px;
  margin-top: 2px;
}

.contacts-info .main-working-hours {
  margin-bottom: 24px;
}

.main-contacts-info a {
  color: #323232;
}

.main-contacts-info-title {
  width: 155px;
}

.main-phone-number,
.main-working-hours {
  line-height: 22px;
}

.contacts-button {
  padding: 10px 27px 10px 28px;
}

.breadcrumbs-list {
  list-style: none;
  padding: 0 27px;
  margin: 0;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.breadcrumbs-list li {
  margin-right: 6px;
}

.breadcrumbs-list a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs-list .breadcrumbs-item-current {
  border-bottom: none;
}

.breadcrumbs-list a:hover,
.breadcrumbs-list a:focus,
.breadcrumbs-list a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs-list .breadcrumbs-item-current:hover,
.breadcrumbs-list .breadcrumbs-item-current:focus,
.breadcrumbs-list .breadcrumbs-item-current:active {
  color: #ffffff;
  border-bottom: none;
}

.catalog-page-title {
  padding: 0 27px;
  margin: 0;
  margin-top: 5px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.catalog-filters {
  padding: 0 27px;
  margin-top: 25px;
}

.filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 890px;
}

.filters-form fieldset {
  padding: 0;
  border: none;
  margin-right: 11px;
  margin-bottom: 15px;
}

.filters-form legend {
  padding-left: 15px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filter-sort-list-container {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/select-arrow2.svg");
  background-repeat: no-repeat;
  background-position: 167px 13px;
  border-radius: 20px;
}

.filter-sort-list {
  width: 193px;
  height: 36px;
  padding: 10px 14px 9px 14px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter-sort-list option {
  padding-bottom: 5px;
}

.filter-sort-list option:last-child {
  padding-bottom: 8px;
}

.filter-sort-list:hover,
.filter-sort-list:focus {
  color: #323232;
  background-image: url("../img/select-arrow3.svg");
  background-repeat: no-repeat;
  background-position: 167px 13px;
  outline: none;
}

.filter-sort-list:active,
.filter-sort-list:focus {
  background-color: #ffffff;
  background-image: url("../img/select-arrow.svg");
  background-position: 167px 17px;
}

.filter-sort-list::-ms-expand {
  display: none;
}

.price-fieldset {
  position: relative;
  width: 220px;
}

.price-filter {
  position: absolute;
  bottom: 39px;
  left: 55px;
}

.price-filter input[type="text"] {
  width: 25px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.price-filter span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.range-filter {
  width: 220px;
  min-height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: none;
  border-radius: 20px;
}

.range-controls {
  position: relative;
  padding: 16px 20px 0px 21px;
}

.range-controls .scale {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  width: 118px;
  height: 4px;
  margin-left: 14px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
	width: 20px;
	height: 22px;
	top: 8px;
	background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.range-toggle-min {
  left: 35px;
}

.range-toggle-max {
  left: 133px;
}

.range-toggle:hover,
.range-toggle:focus {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	cursor: pointer;
}

.fat-fieldset {
  width: 415px;
}

.filter-fat-list,
.filter-filler-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  padding: 9px 14px;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.filter-fat-list .filter-option {
  margin-right: 19px;
}

.filter-fat-list .filter-option:nth-child(4) {
  margin-right: 0px;
}

.filter-fat-list label {
  position: relative;
  display: block;
  padding-left: 31px;
  cursor: pointer;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0px;
  width: 22px;
  height: 22px;
  border: 3.5px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter-input-radio:hover + label::before {
  border: 3.5px solid rgba(255, 255, 255, 1);
}

.filter-input-radio:disabled + label::before {
  border: 3.5px solid rgba(255, 255, 255, 0.4);
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.filter-input-radio:checked:hover + label::after {
  background-color: rgba(255, 255, 255, 1);
}

.filter-input-radio:checked:disabled + label::after {
  background-color: rgba(255, 255, 255, 0.4);
}

.filler-fieldset {
  width: 703px;
}

.filter-filler-list .filter-option {
  margin-right: 20px;
  margin-bottom: 2px;
}

.filter-filler-list .filter-option:nth-child(2) {
  margin-right: 21px;
}

.filter-filler-list .filter-option:nth-child(3) {
  margin-right: 24px;
}

.filter-filler-list .filter-option:nth-child(5) {
  margin-right: 0px;
}

.filter-filler-list label {
  position: relative;
  display: block;
  padding-left: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  opacity: 0.8;
}

.filter-input-checkbox:hover + label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 23px;
  height: 20px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  opacity: 0.8;
}

.filter-input-checkbox:checked:hover + label::before {
  opacity: 1;
}

.filter-input-checkbox:checked:disabled + label::before {
  opacity: 0.4;
}

.filter-input:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-button {
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  padding: 7px 27px 7px 28px;
  margin-top: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #a6b7ad;
  border-radius: 50px;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.filter-button:hover {
  color: #323232;
  background-color: #ffffff;
}

.filter-button:active {
  color: #323232;
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0px #696969;
          box-shadow: inset 0px 2px 1px 0px #696969;
}

.creamy-products {
  margin: 0;
}

.products-switch-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 167px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-top: 39px;
  margin-right: 27px;
  margin-bottom: 30px;
  list-style: none;
}

.switch-item a {
  display: inline-block;
  width: 27px;
  height: 27px;
  padding-top: 4px;
  margin-right: 2px;
  vertical-align: bottom;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.switch-item a:hover,
.switch-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.switch-item a:active,
.switch-item-active a,
.switch-item-active a:hover,
.switch-item-active a:focus {
  color: #323232;
  background-color: #ffffff;
}

.switch-item-previous::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 3px;
  width: 8px;
  height: 12px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: transparent;
  background-image: url("../img/icon-right-small.svg");
  cursor: default;
}

.switch-item-next::before {
  content: "";
  position: absolute;
  top: 7px;
  right: -26px;
  width: 8px;
  height: 12px;
  background-color: transparent;
  background-image: url("../img/icon-right-small2.svg");
}

.switch-item .switch-item-previous:hover,
.switch-item .switch-item-previous:focus,
.switch-item .switch-item-next:hover,
.switch-item .switch-item-next:focus {
  background-color: transparent;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 11px 27px 21px;
}

.main-footer-inner {
  position: relative;
  padding-top: 18px;
}

.main-footer-inner::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 20px;
  width: 1146px;
  height: 1px;
  background-color: rgba(252, 253, 252, 0.3)
}

.social-networks {
  margin-top: 5px;
  margin-right: 225px;

}

.social-networks-list,
.other-info-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 12px;
}

.social-networks-list  li {
  position: relative;
  margin-right: 11px;
}

.social-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: top;
  opacity: 0.8;
  background-color: transparent;
  border: 3px solid rgba(230, 235, 233, 0.5);
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active  {
  opacity: 1;
  border: 3px solid rgba(230, 235, 233, 0.7);
}

.social-button:active path {
  fill: #e6ebe9;
}

.other-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 13px;
  font-size: 13px;
  line-height: 18px;
}

.other-info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 11px;
}

.other-info-list li {
  display: block;
  margin-bottom: 5px;
  margin-right: 20px;
}

.other-info-list a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.other-info-list a:hover,
.other-info-list a:focus,
.other-info-list a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.other-info-list svg {
  position: absolute;
  top: 4px;
  left: -20px;
}

.for-suppliers {
  font-weight: 700;
}

.for-suppliers-link:hover + svg path,
.for-suppliers-link:focus + svg path,
.for-suppliers-link:active + svg path {
  fill: #ffbc9e;
}

.copyright-info {
  width: 190px;
  margin-left: auto;
  font-size: 12px;
  line-height: 18px;
}

.copyright-info p {
  margin: 0;
}

.copyright-info a:not(.logo-htmlacademy) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright-info a:not(.logo-htmlacademy):hover,
.copyright-info a:not(.logo-htmlacademy):focus,
.copyright-info a:not(.logo-htmlacademy):active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.modal-feedback {
  display: none;
  padding: 16px 25px;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 477px;
  min-height: 442px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 30;
}

.modal-feedback-show {
  display: block;
  -webkit-animation-name: move;
      -ms-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 0.7s;
      -ms-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

.modal-feedback-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-feedback-wrap-show {
  display: block;
}

.modal-feedback .modal-close {
  border: none;
  background-color: transparent;
  outline: none;
}

.modal-feedback .modal-close::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 17px;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.modal-feedback .modal-close:focus::before {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.modal-feedback-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.feedback-form-item-container {
  position: relative;
}

.feedback-form-item-input {
  display: inline-block;
  width: 267px;
  min-height: 45px;
  padding: 9px 15px;
  margin-bottom: 20px;
  vertical-align: top;
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feedback-form-item-input::-webkit-input-placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.feedback-form-item-input:-ms-input-placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.feedback-form-item-input::-ms-input-placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.feedback-form-item-input::placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

 textarea.feedback-form-item-input {
  width: 100%;
  min-height: 155px;
  outline: none;
  resize: none;
}

.feedback-form-item-input:hover {
  padding: 8px 14px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback-form-item-input:focus {
  padding: 8px 14px;
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.modal-feedback p {
  padding: 0;
  margin: 0;
  text-align: right;
}

.feedback-button {
  padding-left: 24px;
  padding-right: 24px;
}

.modal-error {
  -webkit-animation-name: error;
      -ms-animation-name: error;
          animation-name: error;
  -webkit-animation-duration: 0.6s;
      -ms-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes error {
  0%,
  100% {
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
        -webkit-transform: translate(-52%, -50%);
            -ms-transform: translate(-52%, -50%);
                transform: translate(-52%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
        -webkit-transform: translate(-48%, -50%);
            -ms-transform: translate(-48%, -50%);
                transform: translate(-48%, -50%);
  }
}

@keyframes error {
  0%,
  100% {
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
        -webkit-transform: translate(-52%, -50%);
            -ms-transform: translate(-52%, -50%);
                transform: translate(-52%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
        -webkit-transform: translate(-48%, -50%);
            -ms-transform: translate(-48%, -50%);
                transform: translate(-48%, -50%);
  }
}

@-webkit-keyframes move {
  0% {
      -webkit-transform: translate(-500%, -50%);
          -ms-transform: translate(-500%, -50%);
              transform: translate(-500%, -50%);
  }

  70% {
      -webkit-transform: translate(-35%, -50%);
          -ms-transform: translate(-35%, -50%);
              transform: translate(-35%, -50%);
  }

  90% {
      -webkit-transform: translate(-60%, -50%);
          -ms-transform: translate(-60%, -50%);
              transform: translate(-60%, -50%);
  }

  100% {
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
  }
}

@keyframes move {
  0% {
      -webkit-transform: translate(-500%, -50%);
          -ms-transform: translate(-500%, -50%);
              transform: translate(-500%, -50%);
  }

  70% {
      -webkit-transform: translate(-35%, -50%);
          -ms-transform: translate(-35%, -50%);
              transform: translate(-35%, -50%);
  }

  90% {
      -webkit-transform: translate(-60%, -50%);
          -ms-transform: translate(-60%, -50%);
              transform: translate(-60%, -50%);
  }

  100% {
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
  }
}
