body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrap {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  background-color: #849d8f;
}

.main-header {
  position: relative;
  padding: 9px 27px 0;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-header-logo {
  margin-right: 12px;
}

.nav-container {
  display: flex;
  width: 980px;
  min-height: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.site-navigation, .user-navigation {
  padding: 0;
  padding-top: 11px;
  margin: 0;
  list-style: none;

}

.site-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.site-navigation li {
  margin-right: 4px;
  line-height: 18px;
  font-weight: 700;
}

.site-navigation > li > a {
  padding: 12px;
  padding-top: 8px;
  padding-bottom: 7px;
  border-radius: 20px;
}

.site-navigation > li > a:hover, .site-navigation > li > a:focus {
  color: #333333;
  background-color: #ffffff;
}

.site-navigation > li > a:active {
  color: #333333;
  background-color: #ffffff;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.site-navigation-item-current {
  color: #ffffff;
  background-color: #d07058;
}

.catalog-list {
  display: none;
  padding: 0;
  margin: 0;
  width: 142px;
  background-color: #ffffff;
  list-style: none;
  border-radius: 5px;
}

.catalog-list li {
  padding-top: 8px;
  padding-bottom: 8px;
}

.catalog-list li:hover, .catalog-list li:focus {
  background-color: #fbded7;
}

.catalog-list li:active {
  background-color: #f6b5a5;
}

.catalog-list-current {
  background-color: #d07058;
}

.catalog-list a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  border-radius: 0px;
  color: #323232;
}

.catalog-list .catalog-list-title {
  font-weight: 700;
}

.user-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.user-navigation li {
  margin-left: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-navigation > li > a {
  padding: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #9db1a5;
  border-radius: 20px;
}

.user-navigation > li > a:hover, .user-navigation > li > a:focus {
  color: #323232;
  background-color: #ffffff;
}

.popup-form {
  display: none;
}

.main-header-contacts {
  position: absolute;
  top: 74px;
  left: 1006px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.main-header-contacts p {
  margin: 0;
}

.main-header-contacts .contacts-phone-number {
  margin-top: 4px;
  font-size: 22px;
  line-height: 24px;
}

.main-slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-slider-item h3 {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
}

.button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 15px;
  background-color: #e45136;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 35px;
}

.button:hover, .button:focus {
  background-color: #f17f65;
}

.button:active {
  background-image: linear-gradient( 360deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px #942718;
}

.slide-button {
  font-size: 32px;
  line-height: 44px;
}

.promo-item {
  width: 560px;
  min-height: 229px;
  border-radius: 15px;
  background-repeat: no-repeat;
}

.promo-item-first {
  background-image: url("../img/raspberries.jpg");
}

.promo-item-second {
  background-image: url("../img/chocolate.jpg");
}

.promo-item h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}
.promo-item p {
  font-size: 18px;
  font-weight: 700;
}

.products-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.products-item:hover, .products-item:focus {
  background-color: #a2b5aa;
}

.products-item h3 {
  font-weight: 500;
}

.product-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.product-price .unit-field {
  font-size: 30px;
}

.main-advantages {
  width: 1146px;
  color: #323232;
  background-image: url("../img/wafer.jpg");
  border-radius: 15px;
}

.main-advantages b {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.advantages-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.news-info {
  width: 560px;
  min-height: 220px;
  background-image: url("../img/strawberry_back.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.news-info h3 {
  font-weight: 500;
  color: #323232;
}

.news-info a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  border-bottom: 2px solid #323232;
}

.subscribe-info {
  width: 560px;
  min-height: 220px;
  padding: 6px;
  color: #5a5a5a;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.subscribe-form-wrap {
  width: 548px;
  min-height: 208px;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe-form-wrap h3 {
  padding: 0;
  margin: 0;
}

.main-contacts {
  width: 1200px;
}

.contacts-info {
  width: 300px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 10px;
}

.main-contacts-info {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.main-contacts-info a {
  color: #323232;
}

.main-phone-number, .main-working-hours {
  line-height: 22px;
}

.social-networks-list, .other-info-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-networks-list  li {
  background-color: #e6ebe9;
  border: 2px solid #c2cec7;
}

.other-info {
  font-size: 13px;
  line-height: 18px;
}

.for-suppliers {
  font-weight: 700;
}

.copyright-info {
  font-size: 12px;
  line-height: 18px;
}
